In [6]:
from bayes_opt import BayesianOptimization
from keras.layers import *
import tensorboard
import sklearn.preprocessing
import tensorflow as tf
from tensorflow import keras
from packaging import version
from datetime import datetime
import pandas as pd
import numpy as np
import os
import glob
from linkmethods import get_pageviews, get_target, get_backlink_views

In [7]:
df_meisen= get_target("Meisen")
flatten_views = get_backlink_views("Meisen", get_target("Meisen"))
data = np.array(flatten_views).reshape((162,2558))[:,-250:-1]
print(data)
data.shape

            views
timestamp
2015070100    2.0
2015070200    0.0
2015070300    4.0
2015070400    4.0
2015070500    1.0
...           ...
2022062700    1.0
2022062800    3.0
2022062900    1.0
2022063000    0.0
2022070100    3.0

[2558 rows x 1 columns]
            views
timestamp
2015070100    7.0
2015070200   10.0
2015070300    6.0
2015070400    7.0
2015070500   11.0
...           ...
2022062700    5.0
2022062800    9.0
2022062900   11.0
2022063000   14.0
2022070100    9.0

[2558 rows x 1 columns]
            views
timestamp
2015070100   1678
2015070200   1719
2015070300   1764
2015070400   1876
2015070500   2426
...           ...
2022062700   2452
2022062800   2906
2022062900   2974
2022063000   2838
2022070100   1921

[2558 rows x 1 columns]
            views
timestamp
2015070100    0.0
2015070200    0.0
2015070300    0.0
2015070400    0.0
2015070500    0.0
...           ...
2022062700    0.0
2022062800    0.0
2022062900    2.0
2022063000    1.0
2022070100    0.0

[2558 rows x 1 columns]
            views
timestamp
2015070100     31
2015070200     38
2015070300     39
2015070400     33
2015070500     32
...           ...
2022062700     19
2022062800     27
2022062900     20
2022063000     23
2022070100     26

[2558 rows x 1 columns]
            views
timestamp
2015070100   16.0
2015070200   12.0
2015070300   15.0
2015070400    9.0
2015070500   16.0
...           ...
2022062700   42.0
2022062800   31.0
2022062900   36.0
2022063000   32.0
2022070100   18.0

[2558 rows x 1 columns]
            views
timestamp
2015070100     39
2015070200     24
2015070300     31
2015070400     34
2015070500     47
...           ...
2022062700     52
2022062800     43
2022062900     47
2022063000     28
2022070100     49

[2558 rows x 1 columns]
            views
timestamp
2015070100     14
2015070200     22
2015070300     10
2015070400     13
2015070500     23
...           ...
2022062700     20
2022062800     22
2022062900     22
2022063000     24
2022070100     21

[2558 rows x 1 columns]
            views
timestamp
2015070100   11.0
2015070200   13.0
2015070300    8.0
2015070400    4.0
2015070500   11.0
...           ...
2022062700    9.0
2022062800   10.0
2022062900    5.0
2022063000   11.0
2022070100   16.0

[2558 rows x 1 columns]
            views
timestamp
2015070100    0.0
2015070200    0.0
2015070300    0.0
2015070400    0.0
2015070500    0.0
...           ...
2022062700    2.0
2022062800    6.0
2022062900    3.0
2022063000    4.0
2022070100    4.0

[2558 rows x 1 columns]
            views
timestamp
2015070100    1.0
2015070200    1.0
2015070300    0.0
2015070400    1.0
2015070500    0.0
...           ...
2022062700    0.0
2022062800    0.0
2022062900    2.0
2022063000    1.0
2022070100    0.0

[2558 rows x 1 columns]
            views
timestamp
2015070100   11.0
2015070200   10.0
2015070300   19.0
2015070400    4.0
2015070500    9.0
...           ...
2022062700   11.0
2022062800    9.0
2022062900   15.0
2022063000    7.0
2022070100   13.0

[2558 rows x 1 columns]
            views
timestamp
2015070100    248
2015070200    225
2015070300    235
2015070400    217
2015070500    312
...           ...
2022062700    395
2022062800    416
2022062900    353
2022063000    341
2022070100    264

[2558 rows x 1 columns]
            views
timestamp
2015070100    0.0
2015070200    0.0
2015070300    0.0
2015070400    0.0
2015070500    0.0
...           ...
2022062700    1.0
2022062800    1.0
2022062900    4.0
2022063000    1.0
2022070100    0.0

[2558 rows x 1 columns]
            views
timestamp
2015070100    0.0
2015070200    0.0
2015070300    1.0
2015070400    0.0
2015070500    0.0
...           ...
2022062700    1.0
2022062800    2.0
2022062900    2.0
2022063000    1.0
2022070100    3.0

[2558 rows x 1 columns]
            views
timestamp
2015070100    1.0
2015070200    0.0
2015070300    1.0
2015070400    1.0
2015070500    1.0
...           ...
2022062700    0.0
2022062800    0.0
2022062900    0.0
2022063000    1.0
2022070100    0.0

[2558 rows x 1 columns]
            views
timestamp
2015070100     64
2015070200     57
2015070300     72
2015070400     65
2015070500     77
...           ...
2022062700    212
2022062800    160
2022062900    184
2022063000    172
2022070100    115

[2558 rows x 1 columns]
            views
timestamp
2015070100    292
2015070200    287
2015070300    290
2015070400    307
2015070500    412
...           ...
2022062700    339
2022062800    292
2022062900    330
2022063000    417
2022070100    214

[2558 rows x 1 columns]
            views
timestamp
2015070100    4.0
2015070200    6.0
2015070300    5.0
2015070400    4.0
2015070500   10.0
...           ...
2022062700    8.0
2022062800    1.0
2022062900    8.0
2022063000   19.0
2022070100   18.0

[2558 rows x 1 columns]
            views
timestamp
2015070100    271
2015070200    253
2015070300    235
2015070400    200
2015070500    305
...           ...
2022062700    482
2022062800    384
2022062900    370
2022063000    367
2022070100    334

[2558 rows x 1 columns]
            views
timestamp
2015070100    1.0
2015070200    1.0
2015070300    1.0
2015070400    1.0
2015070500    5.0
...           ...
2022062700    1.0
2022062800    2.0
2022062900    2.0
2022063000    0.0
2022070100    1.0

[2558 rows x 1 columns]
            views
timestamp
2015070100    3.0
2015070200    3.0
2015070300    2.0
2015070400    3.0
2015070500    5.0
...           ...
2022062700    4.0
2022062800    1.0
2022062900    2.0
2022063000    1.0
2022070100    2.0

[2558 rows x 1 columns]
            views
timestamp
2015070100   15.0
2015070200    5.0
2015070300    4.0
2015070400   13.0
2015070500    8.0
...           ...
2022062700    4.0
2022062800   10.0
2022062900   14.0
2022063000   21.0
2022070100  133.0

[2558 rows x 1 columns]
            views
timestamp
2015070100    0.0
2015070200    0.0
2015070300    0.0
2015070400    0.0
2015070500    0.0
...           ...
2022062700    1.0
2022062800    0.0
2022062900    1.0
2022063000    1.0
2022070100    3.0

[2558 rows x 1 columns]
            views
timestamp
2015070100    4.0
2015070200    1.0
2015070300    1.0
2015070400    0.0
2015070500    4.0
...           ...
2022062700    2.0
2022062800    7.0
2022062900    0.0
2022063000    5.0
2022070100    4.0

[2558 rows x 1 columns]
            views
timestamp
2015070100  16597
2015070200  15574
2015070300  14302
2015070400  12642
2015070500  16836
...           ...
2022062700  15474
2022062800  14581
2022062900  13955
2022063000  13192
2022070100  13344

[2558 rows x 1 columns]
            views
timestamp
2015070100    3.0
2015070200    1.0
2015070300    1.0
2015070400    1.0
2015070500    1.0
...           ...
2022062700    0.0
2022062800    1.0
2022062900    1.0
2022063000    3.0
2022070100    0.0

[2558 rows x 1 columns]
            views
timestamp
2015070100    2.0
2015070200    5.0
2015070300    6.0
2015070400    3.0
2015070500    7.0
...           ...
2022062700   10.0
2022062800   19.0
2022062900    8.0
2022063000    7.0
2022070100    6.0

[2558 rows x 1 columns]
            views
timestamp
2015070100     10
2015070200     19
2015070300     11
2015070400     10
2015070500     11
...           ...
2022062700     11
2022062800      8
2022062900     10
2022063000      9
2022070100     13

[2558 rows x 1 columns]
            views
timestamp
2015070100    0.0
2015070200    1.0
2015070300    2.0
2015070400    1.0
2015070500    0.0
...           ...
2022062700    1.0
2022062800    2.0
2022062900    0.0
2022063000    2.0
2022070100    1.0

[2558 rows x 1 columns]
            views
timestamp
2015070100     83
2015070200     86
2015070300     73
2015070400     90
2015070500    118
...           ...
2022062700     67
2022062800     72
2022062900     59
2022063000     62
2022070100     60

[2558 rows x 1 columns]
            views
timestamp
2015070100    6.0
2015070200    8.0
2015070300    6.0
2015070400    6.0
2015070500    5.0
...           ...
2022062700    9.0
2022062800    1.0
2022062900    6.0
2022063000    2.0
2022070100    5.0

[2558 rows x 1 columns]
            views
timestamp
2015070100    232
2015070200    163
2015070300    120
2015070400    128
2015070500    141
...           ...
2022062700     77
2022062800     74
2022062900     82
2022063000     99
2022070100     41

[2558 rows x 1 columns]
            views
timestamp
2015070100    223
2015070200    225
2015070300    139
2015070400    141
2015070500    224
...           ...
2022062700    119
2022062800     75
2022062900     86
2022063000     69
2022070100     73

[2558 rows x 1 columns]
            views
timestamp
2015070100    5.0
2015070200    1.0
2015070300    4.0
2015070400    8.0
2015070500   30.0
...           ...
2022062700    0.0
2022062800    6.0
2022062900    4.0
2022063000    2.0
2022070100    7.0

[2558 rows x 1 columns]
            views
timestamp
2015070100    0.0
2015070200    0.0
2015070300    0.0
2015070400    0.0
2015070500    0.0
...           ...
2022062700    4.0
2022062800    3.0
2022062900    4.0
2022063000    6.0
2022070100    0.0

[2558 rows x 1 columns]
            views
timestamp
2015070100    1.0
2015070200    0.0
2015070300    2.0
2015070400    1.0
2015070500    1.0
...           ...
2022062700    0.0
2022062800    3.0
2022062900    0.0
2022063000    0.0
2022070100    2.0

[2558 rows x 1 columns]
            views
timestamp
2015070100    6.0
2015070200    4.0
2015070300    8.0
2015070400    2.0
2015070500    3.0
...           ...
2022062700   13.0
2022062800   12.0
2022062900   15.0
2022063000   10.0
2022070100   25.0

[2558 rows x 1 columns]
            views
timestamp
2015070100    4.0
2015070200    2.0
2015070300    3.0
2015070400    2.0
2015070500    3.0
...           ...
2022062700    0.0
2022062800    5.0
2022062900    0.0
2022063000    0.0
2022070100    0.0

[2558 rows x 1 columns]
            views
timestamp
2015070100    1.0
2015070200    0.0
2015070300    2.0
2015070400    0.0
2015070500    1.0
...           ...
2022062700    5.0
2022062800    1.0
2022062900    5.0
2022063000    0.0
2022070100    3.0

[2558 rows x 1 columns]
            views
timestamp
2015070100   11.0
2015070200    9.0
2015070300    5.0
2015070400    4.0
2015070500    3.0
...           ...
2022062700    2.0
2022062800   13.0
2022062900    6.0
2022063000   11.0
2022070100   11.0

[2558 rows x 1 columns]
            views
timestamp
2015070100     12
2015070200     17
2015070300     14
2015070400      7
2015070500     16
...           ...
2022062700     16
2022062800      8
2022062900     11
2022063000     18
2022070100     17

[2558 rows x 1 columns]
            views
timestamp
2015070100    2.0
2015070200    2.0
2015070300    4.0
2015070400    1.0
2015070500    4.0
...           ...
2022062700    3.0
2022062800    5.0
2022062900   13.0
2022063000    8.0
2022070100   10.0

[2558 rows x 1 columns]
            views
timestamp
2015070100    1.0
2015070200   10.0
2015070300    3.0
2015070400    4.0
2015070500    1.0
...           ...
2022062700    4.0
2022062800    2.0
2022062900    2.0
2022063000    2.0
2022070100    0.0

[2558 rows x 1 columns]
            views
timestamp
2015070100     23
2015070200     10
2015070300     14
2015070400     12
2015070500     14
...           ...
2022062700     16
2022062800     13
2022062900     24
2022063000      7
2022070100     21

[2558 rows x 1 columns]
            views
timestamp
2015070100     37
2015070200     41
2015070300     31
2015070400     31
2015070500     29
...           ...
2022062700     57
2022062800     48
2022062900     61
2022063000     63
2022070100     62

[2558 rows x 1 columns]
            views
timestamp
2015070100    626
2015070200    703
2015070300    642
2015070400    727
2015070500    880
...           ...
2022062700   1377
2022062800   1438
2022062900   1387
2022063000   1458
2022070100   1032

[2558 rows x 1 columns]
            views
timestamp
2015070100    7.0
2015070200    2.0
2015070300    3.0
2015070400    1.0
2015070500    3.0
...           ...
2022062700    2.0
2022062800    8.0
2022062900    3.0
2022063000    4.0
2022070100    6.0

[2558 rows x 1 columns]
            views
timestamp
2015070100    0.0
2015070200    1.0
2015070300    2.0
2015070400    0.0
2015070500    1.0
...           ...
2022062700    2.0
2022062800    3.0
2022062900    0.0
2022063000    2.0
2022070100    3.0

[2558 rows x 1 columns]
            views
timestamp
2015070100    5.0
2015070200    5.0
2015070300    2.0
2015070400    4.0
2015070500    1.0
...           ...
2022062700    7.0
2022062800    1.0
2022062900    1.0
2022063000    3.0
2022070100    3.0

[2558 rows x 1 columns]
            views
timestamp
2015070100     13
2015070200     17
2015070300     13
2015070400     15
2015070500     23
...           ...
2022062700     18
2022062800     14
2022062900     15
2022063000     29
2022070100     14

[2558 rows x 1 columns]
            views
timestamp
2015070100     23
2015070200     26
2015070300     14
2015070400     22
2015070500     18
...           ...
2022062700     18
2022062800     41
2022062900     25
2022063000     31
2022070100     16

[2558 rows x 1 columns]
            views
timestamp
2015070100    5.0
2015070200    6.0
2015070300    7.0
2015070400    4.0
2015070500    6.0
...           ...
2022062700    3.0
2022062800    2.0
2022062900    4.0
2022063000    4.0
2022070100   28.0

[2558 rows x 1 columns]
            views
timestamp
2015070100    699
2015070200   1094
2015070300    743
2015070400    642
2015070500    882
...           ...
2022062700    470
2022062800    419
2022062900    398
2022063000    436
2022070100    418

[2558 rows x 1 columns]
            views
timestamp
2015070100     53
2015070200     40
2015070300     25
2015070400     48
2015070500     48
...           ...
2022062700     52
2022062800     52
2022062900     48
2022063000     78
2022070100     40

[2558 rows x 1 columns]
            views
timestamp
2015070100    0.0
2015070200    0.0
2015070300    0.0
2015070400    0.0
2015070500    0.0
...           ...
2022062700    0.0
2022062800    1.0
2022062900    0.0
2022063000    0.0
2022070100    0.0

[2558 rows x 1 columns]
            views
timestamp
2015070100    2.0
2015070200    2.0
2015070300    6.0
2015070400    3.0
2015070500    5.0
...           ...
2022062700   12.0
2022062800    3.0
2022062900   13.0
2022063000    8.0
2022070100    5.0

[2558 rows x 1 columns]
            views
timestamp
2015070100   11.0
2015070200    5.0
2015070300    6.0
2015070400    4.0
2015070500    2.0
...           ...
2022062700    3.0
2022062800    4.0
2022062900    1.0
2022063000    2.0
2022070100    7.0

[2558 rows x 1 columns]
            views
timestamp
2015070100    2.0
2015070200    0.0
2015070300    1.0
2015070400    5.0
2015070500    0.0
...           ...
2022062700    2.0
2022062800    1.0
2022062900    2.0
2022063000    2.0
2022070100    2.0

[2558 rows x 1 columns]
            views
timestamp
2015070100    161
2015070200    128
2015070300    177
2015070400    163
2015070500    239
...           ...
2022062700    313
2022062800    379
2022062900    333
2022063000    317
2022070100    244

[2558 rows x 1 columns]
            views
timestamp
2015070100   55.0
2015070200   38.0
2015070300   54.0
2015070400   69.0
2015070500   79.0
...           ...
2022062700  185.0
2022062800  116.0
2022062900  150.0
2022063000  164.0
2022070100   95.0

[2558 rows x 1 columns]
            views
timestamp
2015070100   25.0
2015070200   37.0
2015070300   15.0
2015070400   27.0
2015070500   32.0
...           ...
2022062700   41.0
2022062800   37.0
2022062900   51.0
2022063000   51.0
2022070100   36.0

[2558 rows x 1 columns]
            views
timestamp
2015070100    344
2015070200    310
2015070300    307
2015070400    385
2015070500    376
...           ...
2022062700    527
2022062800    495
2022062900    491
2022063000    423
2022070100    449

[2558 rows x 1 columns]
            views
timestamp
2015070100    1.0
2015070200    3.0
2015070300    3.0
2015070400    3.0
2015070500    2.0
...           ...
2022062700    4.0
2022062800    4.0
2022062900   13.0
2022063000    2.0
2022070100    4.0

[2558 rows x 1 columns]
            views
timestamp
2015070100    1.0
2015070200    0.0
2015070300    3.0
2015070400    3.0
2015070500    2.0
...           ...
2022062700    0.0
2022062800    1.0
2022062900    1.0
2022063000    1.0
2022070100    2.0

[2558 rows x 1 columns]
            views
timestamp
2015070100    0.0
2015070200    0.0
2015070300    0.0
2015070400    0.0
2015070500    0.0
...           ...
2022062700    3.0
2022062800    2.0
2022062900    1.0
2022063000    5.0
2022070100    2.0

[2558 rows x 1 columns]
            views
timestamp
2015070100    0.0
2015070200    4.0
2015070300    1.0
2015070400    3.0
2015070500    3.0
...           ...
2022062700    1.0
2022062800    6.0
2022062900    1.0
2022063000    2.0
2022070100    0.0

[2558 rows x 1 columns]
            views
timestamp
2015070100    2.0
2015070200    6.0
2015070300    2.0
2015070400    4.0
2015070500    4.0
...           ...
2022062700    6.0
2022062800    5.0
2022062900    7.0
2022063000    2.0
2022070100    8.0

[2558 rows x 1 columns]
            views
timestamp
2015070100    6.0
2015070200    6.0
2015070300    3.0
2015070400    2.0
2015070500    8.0
...           ...
2022062700   15.0
2022062800   10.0
2022062900    3.0
2022063000    9.0
2022070100    8.0

[2558 rows x 1 columns]
            views
timestamp
2015070100    0.0
2015070200    0.0
2015070300    1.0
2015070400    0.0
2015070500    2.0
...           ...
2022062700    4.0
2022062800    3.0
2022062900    4.0
2022063000    0.0
2022070100    2.0

[2558 rows x 1 columns]
            views
timestamp
2015070100   13.0
2015070200    5.0
2015070300   13.0
2015070400    5.0
2015070500   16.0
...           ...
2022062700    9.0
2022062800    9.0
2022062900   11.0
2022063000   11.0
2022070100    6.0

[2558 rows x 1 columns]
            views
timestamp
2015070100    0.0
2015070200    0.0
2015070300    3.0
2015070400    0.0
2015070500    1.0
...           ...
2022062700    0.0
2022062800    3.0
2022062900    2.0
2022063000    1.0
2022070100    1.0

[2558 rows x 1 columns]
            views
timestamp
2015070100    8.0
2015070200    5.0
2015070300    2.0
2015070400    2.0
2015070500   12.0
...           ...
2022062700    6.0
2022062800    8.0
2022062900    1.0
2022063000    4.0
2022070100    1.0

[2558 rows x 1 columns]
            views
timestamp
2015070100      7
2015070200      5
2015070300     15
2015070400     10
2015070500      6
...           ...
2022062700     50
2022062800     25
2022062900     36
2022063000     27
2022070100     28

[2558 rows x 1 columns]
            views
timestamp
2015070100    0.0
2015070200    0.0
2015070300    0.0
2015070400    0.0
2015070500    0.0
...           ...
2022062700   25.0
2022062800   13.0
2022062900   12.0
2022063000   16.0
2022070100   18.0

[2558 rows x 1 columns]
            views
timestamp
2015070100    4.0
2015070200    0.0
2015070300    1.0
2015070400    2.0
2015070500    1.0
...           ...
2022062700    1.0
2022062800    2.0
2022062900    1.0
2022063000    8.0
2022070100    4.0

[2558 rows x 1 columns]
            views
timestamp
2015070100    0.0
2015070200    0.0
2015070300    0.0
2015070400    0.0
2015070500    0.0
...           ...
2022062700    0.0
2022062800    4.0
2022062900    0.0
2022063000    1.0
2022070100    0.0

[2558 rows x 1 columns]
            views
timestamp
2015070100    5.0
2015070200    7.0
2015070300    6.0
2015070400    2.0
2015070500    7.0
...           ...
2022062700    6.0
2022062800    7.0
2022062900    7.0
2022063000    5.0
2022070100    4.0

[2558 rows x 1 columns]
            views
timestamp
2015070100    6.0
2015070200    4.0
2015070300    5.0
2015070400    5.0
2015070500    7.0
...           ...
2022062700    3.0
2022062800    3.0
2022062900    1.0
2022063000    2.0
2022070100    5.0

[2558 rows x 1 columns]
            views
timestamp
2015070100    0.0
2015070200    2.0
2015070300    1.0
2015070400    1.0
2015070500    2.0
...           ...
2022062700    2.0

(162, 249)

In [8]:
target = np.array(df_meisen.views)[-250:-1]
target = np.array([np.copy(target) for _ in range((data.shape[0]))])
print(target)
target.shape

[[275 281 269 ... 192 190 180]
 [275 281 269 ... 192 190 180]
 [275 281 269 ... 192 190 180]
 ...
 [275 281 269 ... 192 190 180]
 [275 281 269 ... 192 190 180]
 [275 281 269 ... 192 190 180]]

(162, 249)

In [9]:
# Define the model.
model = keras.Sequential()

# 1 dense hidden layer with 250 nodes ~90+ acc
model.add(Input(shape=249)) # Input tensor
model.add(Dense(units=249)) # hidden layer 1,


model.compile(
    optimizer='Adam',
    loss='mean_absolute_percentage_error',
    metrics=['accuracy'])

log_dir = "logs/fit/" + datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = tf.keras.callbacks.TensorBoard(log_dir=log_dir, histogram_freq=1)
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_1 (Dense)             (None, 249)               62250

=================================================================
Total params: 62,250
Trainable params: 62,250
Non-trainable params: 0
_________________________________________________________________

In [10]:
from sklearn.model_selection import train_test_split

# Separate the test data
x, x_test, y, y_test = train_test_split(data, target, test_size=0.15, shuffle=True)

# Split the remaining data to train and validation
x_train, x_val, y_train, y_val = train_test_split(x, y, test_size=0.15, shuffle=True)

In [11]:
def get_model():
    # Define the model.
    model = keras.Sequential()

    # 1 dense hidden layer with 250 nodes ~90+ acc
    model.add(Input(shape=249)) # Input tensor
    model.add(Dense(units=249)) # hidden layer 1,

    return model

In [12]:
def fit_with(optimizers:str,loss:str):

    # Create the model using a specified hyperparameters.
    model = get_model()

    # Train the model for a specified number of epochs.

    model.compile(
    optimizer=optimizers,
    loss=loss,
    metrics=['accuracy'])

    # Train the model with the train dataset.
    history = model.fit(
    x_train,
    y_train,
    batch_size=32,
    epochs=100,
    validation_data=(x_val, y_val))

    # Return the accuracy.
    return min(history.history["accuracy"])

from functools import partial

verbose = 1
fit_with_partial = partial(fit_with,verbose)

In [13]:
# Bounded region of parameter space
pbounds = {'optimizers': ("SGD","RMSprop","Adam","AdamW","Adadelta","Adagrad","Adamax","Adafactor","Nadam","Ftrl"),
           'loss': ("binary_crossentropy","categorical_crossentropy","sparse_categorical_crossentropy","poisson","kl_divergence","mean_squared_error","mean_absolute_error","mean_absolute_percentage_error","mean_squared_logarithmic_error","cosine_similarity","huber_loss","log_cosh")}

optimizer = BayesianOptimization(
    f=fit_with_partial,
    pbounds=pbounds,
    verbose=2,  # verbose = 1 prints only when a maximum is observed, verbose = 0 is silent
    random_state=1,
)

optimizer.maximize(init_points=5, n_iter=20)


for i, res in enumerate(optimizer.res):
    print("Iteration {}: \n\t{}".format(i, res))
print(optimizer.max)

ValueError: setting an array element with a sequence. The requested array has an inhomogeneous shape after 1 dimensions. The detected shape was (2,) + inhomogeneous part.