In [489]:
import sklearn.preprocessing
import tensorboard
import tensorflow as tf
import numpy as np
import keras.backend
import datetime

from packaging import version
from linkmethods import get_target, get_backlink_views
from keras.layers import *

In [490]:
print("TensorFlow version: ", tf.__version__)
assert version.parse(tf.__version__).release[0] >= 2, "This notebook requires TensorFlow 2.0 or above."

TensorFlow version:  2.11.0

In [491]:
tensorboard.__version__

'2.11.0'

In [492]:
print("Num GPUs Available: ", len(tf.config.list_physical_devices('GPU')))

Num GPUs Available:  0

In [493]:
article = "Data_Science"

In [494]:
df_main = get_target(article)

Directory already exists
reading in the file

In [495]:
bl_views = get_backlink_views(article, get_target(article))

Directory already exists
reading in the file
            views
timestamp
2015070100    643
2015070200    573
2015070300    410
2015070400    199
2015070500    334
...           ...
2022062700    262
2022062800    241
2022062900    191
2022063000    226
2022070100    204

[2558 rows x 1 columns]
            views
timestamp
2015070100    111
2015070200     78
2015070300     72
2015070400     59
2015070500     72
...           ...
2022062700     80
2022062800     66
2022062900     90
2022063000     89
2022070100     84

[2558 rows x 1 columns]
            views
timestamp
2015070100    0.0
2015070200    0.0
2015070300    0.0
2015070400    0.0
2015070500    0.0
...           ...
2022062700    8.0
2022062800    8.0
2022062900    8.0
2022063000   23.0
2022070100   10.0

[2558 rows x 1 columns]
            views
timestamp
2015070100    0.0
2015070200    0.0
2015070300    0.0
2015070400    0.0
2015070500    0.0
...           ...
2022062700    1.0
2022062800    0.0
2022062900    1.0
2022063000    1.0
2022070100    0.0

[2558 rows x 1 columns]
            views
timestamp
2015070100    155
2015070200    174
2015070300    138
2015070400     88
2015070500     97
...           ...
2022062700    138
2022062800    136
2022062900    103
2022063000    140
2022070100    113

[2558 rows x 1 columns]
            views
timestamp
2015070100    0.0
2015070200    0.0
2015070300    0.0
2015070400    0.0
2015070500    0.0
...           ...
2022062700   28.0
2022062800   32.0
2022062900   28.0
2022063000   40.0
2022070100   38.0

[2558 rows x 1 columns]
            views
timestamp
2015070100     51
2015070200     44
2015070300     50
2015070400     14
2015070500     20
...           ...
2022062700     51
2022062800     48
2022062900     47
2022063000     51
2022070100     37

[2558 rows x 1 columns]
            views
timestamp
2015070100    5.0
2015070200    7.0
2015070300    5.0
2015070400    0.0
2015070500    0.0
...           ...
2022062700    4.0
2022062800    4.0
2022062900    1.0
2022063000    2.0
2022070100    3.0

[2558 rows x 1 columns]
            views
timestamp
2015070100    8.0
2015070200   10.0
2015070300   12.0
2015070400    2.0
2015070500    4.0
...           ...
2022062700    9.0
2022062800   13.0
2022062900    2.0
2022063000    7.0
2022070100   17.0

[2558 rows x 1 columns]
            views
timestamp
2015070100    2.0
2015070200    2.0
2015070300    1.0
2015070400    2.0
2015070500    0.0
...           ...
2022062700    0.0
2022062800    3.0
2022062900    4.0
2022063000    3.0
2022070100    1.0

[2558 rows x 1 columns]
            views
timestamp
2015070100    130
2015070200    104
2015070300     75
2015070400     48
2015070500     60
...           ...
2022062700     26
2022062800     24
2022062900     23
2022063000     33
2022070100     32

[2558 rows x 1 columns]
            views
timestamp
2015070100    0.0
2015070200    0.0
2015070300    0.0
2015070400    0.0
2015070500    0.0
...           ...
2022062700    1.0
2022062800    3.0
2022062900    2.0
2022063000    3.0
2022070100    3.0

[2558 rows x 1 columns]
            views
timestamp
2015070100     11
2015070200     20
2015070300     11
2015070400      9
2015070500     10
...           ...
2022062700      6
2022062800      9
2022062900     22
2022063000      8
2022070100     12

[2558 rows x 1 columns]
            views
timestamp
2015070100    0.0
2015070200    0.0
2015070300    0.0
2015070400    0.0
2015070500    0.0
...           ...
2022062700    0.0
2022062800    3.0
2022062900    1.0
2022063000    0.0
2022070100    3.0

[2558 rows x 1 columns]
            views
timestamp
2015070100    1.0
2015070200    3.0
2015070300    2.0
2015070400    0.0
2015070500    3.0
...           ...
2022062700    2.0
2022062800    7.0
2022062900    6.0
2022063000    1.0
2022070100    2.0

[2558 rows x 1 columns]
            views
timestamp
2015070100    3.0
2015070200    4.0
2015070300    7.0
2015070400    5.0
2015070500    4.0
...           ...
2022062700    2.0
2022062800    5.0
2022062900    3.0
2022063000    4.0
2022070100    4.0

[2558 rows x 1 columns]
            views
timestamp
2015070100     31
2015070200     46
2015070300     46
2015070400     34
2015070500     27
...           ...
2022062700     18
2022062800     38
2022062900     61
2022063000     34
2022070100     33

[2558 rows x 1 columns]
            views
timestamp
2015070100     49
2015070200     51
2015070300     47
2015070400     25
2015070500     34
...           ...
2022062700     44
2022062800     47
2022062900     44
2022063000     28
2022070100     35

[2558 rows x 1 columns]
            views
timestamp
2015070100    142
2015070200     90
2015070300     64
2015070400     58
2015070500     80
...           ...
2022062700     62
2022062800     75
2022062900     55
2022063000     41
2022070100     40

[2558 rows x 1 columns]
            views
timestamp
2015070100     51
2015070200     52
2015070300     43
2015070400     38
2015070500     32
...           ...
2022062700     25
2022062800     25
2022062900     40
2022063000     39
2022070100     39

[2558 rows x 1 columns]
            views
timestamp
2015070100     35
2015070200     25
2015070300     23
2015070400     13
2015070500     16
...           ...
2022062700     14
2022062800     12
2022062900     50
2022063000     22
2022070100     24

[2558 rows x 1 columns]
            views
timestamp
2015070100    7.0
2015070200   10.0
2015070300   13.0
2015070400    4.0
2015070500    4.0
...           ...
2022062700    8.0
2022062800    8.0
2022062900   11.0
2022063000   11.0
2022070100   12.0

[2558 rows x 1 columns]
            views
timestamp
2015070100   1347
2015070200   1051
2015070300   2115
2015070400    729
2015070500   1784
...           ...
2022062700   1411
2022062800   1112
2022062900   1327
2022063000   1185
2022070100   1249

[2558 rows x 1 columns]
            views
timestamp
2015070100     74
2015070200     66
2015070300     46
2015070400    117
2015070500     68
...           ...
2022062700     70
2022062800     63
2022062900     92
2022063000     69
2022070100     84

[2558 rows x 1 columns]
            views
timestamp
2015070100    1.0
2015070200    3.0
2015070300    2.0
2015070400    1.0
2015070500    2.0
...           ...
2022062700    3.0
2022062800    1.0
2022062900    1.0
2022063000    0.0
2022070100    3.0

[2558 rows x 1 columns]
            views
timestamp
2015070100    0.0
2015070200    0.0
2015070300    0.0
2015070400    0.0
2015070500    0.0
...           ...
2022062700   12.0
2022062800    7.0
2022062900    6.0
2022063000    5.0
2022070100   11.0

[2558 rows x 1 columns]
            views
timestamp
2015070100    0.0
2015070200    0.0
2015070300    0.0
2015070400    0.0
2015070500    0.0
...           ...
2022062700    6.0
2022062800    6.0
2022062900    4.0
2022063000   13.0
2022070100   13.0

[2558 rows x 1 columns]
            views
timestamp
2015070100    0.0
2015070200    0.0
2015070300    0.0
2015070400    0.0
2015070500    0.0
...           ...
2022062700    6.0
2022062800    5.0
2022062900    4.0
2022063000    4.0
2022070100    7.0

[2558 rows x 1 columns]
            views
timestamp
2015070100     56
2015070200     63
2015070300     38
2015070400     39
2015070500     44
...           ...
2022062700    155
2022062800    111
2022062900    119
2022063000    218
2022070100    128

[2558 rows x 1 columns]
            views
timestamp
2015070100    917
2015070200    834
2015070300    902
2015070400    803
2015070500    892
...           ...
2022062700    616
2022062800    621
2022062900    593
2022063000   2879
2022070100    995

[2558 rows x 1 columns]
            views
timestamp
2015070100    0.0
2015070200    0.0
2015070300    0.0
2015070400    0.0
2015070500    0.0
...           ...
2022062700   18.0
2022062800   23.0
2022062900   26.0
2022063000   19.0
2022070100   19.0

[2558 rows x 1 columns]
            views
timestamp
2015070100    0.0
2015070200    3.0
2015070300    3.0
2015070400    0.0
2015070500    5.0
...           ...
2022062700    1.0
2022062800    4.0
2022062900    7.0
2022063000    9.0
2022070100    2.0

[2558 rows x 1 columns]
            views
timestamp
2015070100    474
2015070200    521
2015070300    371
2015070400    282
2015070500    363
...           ...
2022062700    205
2022062800    220
2022062900    202
2022063000    173
2022070100    149

[2558 rows x 1 columns]
            views
timestamp
2015070100    0.0
2015070200    0.0
2015070300    0.0
2015070400    0.0
2015070500    0.0
...           ...
2022062700    3.0
2022062800    1.0
2022062900    3.0
2022063000    4.0
2022070100    7.0

[2558 rows x 1 columns]
            views
timestamp
2015070100     15
2015070200     14
2015070300     13
2015070400      2
2015070500      7
...           ...
2022062700     20
2022062800     30
2022062900     45
2022063000     33
2022070100     21

[2558 rows x 1 columns]
            views
timestamp
2015070100     57
2015070200     53
2015070300     33
2015070400     33
2015070500     35
...           ...
2022062700     35
2022062800     41
2022062900     48
2022063000     35
2022070100     46

[2558 rows x 1 columns]
            views
timestamp
2015070100     46
2015070200     49
2015070300     48
2015070400     36
2015070500     53
...           ...
2022062700     43
2022062800     28
2022062900     51
2022063000     38
2022070100     36

[2558 rows x 1 columns]
            views
timestamp
2015070100    194
2015070200    122
2015070300     84
2015070400     57
2015070500     82
...           ...
2022062700     87
2022062800     83
2022062900     81
2022063000     79
2022070100     82

[2558 rows x 1 columns]
            views
timestamp
2015070100    126
2015070200     95
2015070300     97
2015070400     99
2015070500    134
...           ...
2022062700     98
2022062800     93
2022062900    110
2022063000     92
2022070100     92

[2558 rows x 1 columns]
            views
timestamp
2015070100    3.0
2015070200    0.0
2015070300    1.0
2015070400    0.0
2015070500    3.0
...           ...
2022062700    2.0
2022062800    5.0
2022062900    1.0
2022063000    6.0
2022070100    1.0

[2558 rows x 1 columns]
            views
timestamp
2015070100     40
2015070200     28
2015070300     26
2015070400     21
2015070500     21
...           ...
2022062700     33
2022062800     28
2022062900     25
2022063000     25
2022070100     11

[2558 rows x 1 columns]
            views
timestamp
2015070100    159
2015070200    282
2015070300    282
2015070400    350
2015070500    492
...           ...
2022062700    196
2022062800    155
2022062900    190
2022063000    169
2022070100    139

[2558 rows x 1 columns]
            views
timestamp
2015070100    426
2015070200    398
2015070300    372
2015070400    259
2015070500    385
...           ...
2022062700    161
2022062800    157
2022062900    194
2022063000    134
2022070100    125

[2558 rows x 1 columns]
            views
timestamp
2015070100    0.0
2015070200    0.0
2015070300    0.0
2015070400    0.0
2015070500    0.0
...           ...
2022062700    2.0
2022062800   13.0
2022062900    4.0
2022063000    4.0
2022070100    2.0

[2558 rows x 1 columns]

In [496]:
cutoff = -512

In [497]:
data = np.array(bl_views)[:,cutoff:-1]
print(data)
data.shape

[[463. 340. 374. ... 241. 191. 226.]
 [142. 143. 120. ...  66.  90.  89.]
 [  8.   3.   8. ...   8.   8.  23.]
 ...
 [208. 249. 270. ... 155. 190. 169.]
 [205. 185. 177. ... 157. 194. 134.]
 [ 10.   1.   1. ...  13.   4.   4.]]

(44, 511)

In [498]:
target = np.array(df_main.views, dtype=float)[cutoff:-1]
target = np.array([np.copy(target) for _ in range((data.shape[0]))])
print(target)
target.shape

[[219. 151. 186. ... 165. 217. 202.]
 [219. 151. 186. ... 165. 217. 202.]
 [219. 151. 186. ... 165. 217. 202.]
 ...
 [219. 151. 186. ... 165. 217. 202.]
 [219. 151. 186. ... 165. 217. 202.]
 [219. 151. 186. ... 165. 217. 202.]]

(44, 511)

In [499]:
def smape(tftarget, tfforecast):
    denominator = tf.reduce_sum(tf.abs(tftarget)+tf.abs(tfforecast))
    if tf.reduce_sum(tftarget)+tf.reduce_sum(tfforecast) == 0:
        return tf.cast(1.0,tf.float64)
    result = (2/len(tftarget)) * tf.cast(tf.reduce_sum(tf.abs(tftarget - tfforecast))/denominator,tf.float64)

    return result

In [500]:
# Define the model.
model = keras.Sequential()

# 1 dense hidden layer with 250 nodes ~90+ acc
model.add(Input(shape=-cutoff-1)) # Input tensor
model.add(Dense(units=-cutoff-1)) # hidden layer 1,
model.add(Activation(activation="sigmoid"))

model.compile(
    optimizer='Adam',
    loss=smape,
    metrics=['accuracy'])

log_dir = "logs/fit/" + datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = tf.keras.callbacks.TensorBoard(log_dir=log_dir, histogram_freq=1)
model.summary()

AttributeError: module 'datetime' has no attribute 'now'

In [ ]:
keras.utils.plot_model(model, "my_first_model.png")

In [ ]:
predata = sklearn.preprocessing.normalize(data,norm="l1")
pretarget = sklearn.preprocessing.normalize(target,norm="l1")
predata

In [ ]:
from sklearn.model_selection import train_test_split

# Separate the test data
x, x_test, y, y_test = train_test_split(predata, pretarget, test_size=0.15, shuffle=True)

# Split the remaining data to train and validation
x_train, x_val, y_train, y_val = train_test_split(x, y, test_size=0.15, shuffle=True)

In [ ]:
x_train.shape

In [ ]:
y_train.shape

In [ ]:
# Train the model.
early_stop = keras.callbacks.EarlyStopping(monitor="accuracy",patience=150, restore_best_weights=True)
history = model.fit(
    x_train,
    y_train,
    batch_size=4,
    epochs=150,
    validation_data=(x_val, y_val),
    callbacks=early_stop)

In [ ]:
from matplotlib import pyplot as plt
def display_learning_curves(history):
    fig, axs = plt.subplots(2, 2, figsize=(19, 11))

    axs[0,0].plot(history.history["loss"])
    axs[0,0].legend(["train", "test"], loc="upper right")
    axs[0,0].set_xlabel("Epochs")
    axs[0,0].set_ylabel("Loss")

    axs[0,1].plot(history.history["accuracy"])
    axs[0,1].legend(["train", "test"], loc="upper right")
    axs[0,1].set_xlabel("Epochs")
    axs[0,1].set_ylabel("Accuracy")

    axs[1,0].plot(history.history["val_loss"])
    axs[1,0].legend(["train", "test"], loc="upper right")
    axs[1,0].set_xlabel("Epochs")
    axs[1,0].set_ylabel("val_loss")

    axs[1,1].plot(history.history["val_accuracy"])
    axs[1,1].legend(["train", "test"], loc="upper right")
    axs[1,1].set_xlabel("Epochs")
    axs[1,1].set_ylabel("val_Accuracy")
    plt.show()

In [ ]:
display_learning_curves(history)

In [ ]:
weights = model.get_weights()
print(sum(history.history['loss']) / len(history.history['loss']))
weights